<%= @artist.name %>
<% @artist.genres.each do | genre | %>
  <%= genre.name %>
    <a href="/genres/<%= genre.slug %>">genre</a>
<% end %>

<% @artist.songs.each do | song | %>
  <%= song.name %>
    <a href="/songs/<%= song.slug %>">song</a>
<% end %>
